<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="angular.js"></script>
    <script src="Script_1.js"></script>
</head>
<body ng-controller="myController">
    <div>                                                                                   <!--Used ng-init and ng-repeat-->
    <ul>
        <li ng-repeat="country in countries" ng-init="parentIndex=$index">
            {{country.name}}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}}  ParentIndex={{parentIndex}} Index={{ $index }}
                </li>
            </ul>
        </li>
    </ul>
        </div>
    <div>
        firstname: {{employee.firstName}}
    </div>
    <div>
        lastName: {{employee.lastName}}
    </div>
    <div>
        age:  {{employee.Age}}
    </div> 
    <div>
        country : {{employee.nation}}
    </div>
    <div>
        <img ng-src="{{employee.path}}" />         <!--ng-src implementation-->
    </div>
    <div>
        <input type="text" ng-model="greet" />      <!--Two way data binding implemented-->
        {{greet}}
    </div>
    <div>
        10 + 20 ={{10+20}}
    </div>
    <div>
        {{ {name:'David',age:'30'}.name }}
    </div>
    <div>
         {{1==2}}
    </div>
    <div>
        {{ ['a','b','c'][2]   }}
    </div>
</body>
</html>
