<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
    <script src="angular.js"></script>
    <script src="Script_1.js"></script>
</head>
<body ng-controller="myController">
    <div>
        <table>
            <thead>
                <tr>
                <td>Id</td>
                <td>Age</td>
                <td>JoiningDate</td>
                <td>name</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in employeelist">
                    <td>{{emp.ID}}</td>
                    <td>{{emp.Age}}</td>
                    <td>{{emp.JoiningDate|date:"dd:MM:YYYY"}}</td>
                    <td>{{emp.name|uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="embed"></div>
    <div>
        Search:<input type="text" placeholder="Search technologies" ng-model="searchText" />
    </div>
    <div>
        Targeted Search:<input type="text" placeholder="Search technology" ng-model="searchText2" />
    </div>
    <div>
        <input type="checkbox" ng-model="check" />Check to Hide
    </div>
  <div>  
      Rows to display : <input type="number" step="1" min="1" max="5" ng-model="rowLimit" />                                                           <!--used ng-click and limit-->
      Sort in order :<select ng-model="sortColumn">                                                                                                    <!-- used orderBy-->
            <option value="+name">Name</option>
            <option value="-likes">Likes</option>        
            </select>
      <table>
              <thead>
                  <tr>
                      <td>technology</td>
                      <td ng-hide="check">likes</td>
                      <td ng-show="check">likes</td>
                      <td>dislikes</td>
                      <td>like/dislike</td>
                  </tr>
          </thead>
          <tbody>
              <tr ng-repeat="technology in technologies|limitTo:rowLimit|orderBy:sortColumn|filter:search|filter:searchText">
                  <td>{{technology.name}}</td>
                  <td ng-hide="check">{{technology.likes}}</td>
                  <td ng-show="check">$$$$</td>
                  <td>{{technology.dislikes}}</td>
                  <td>
                      <input type="button" value="Like"  ng-click="incrementLikes(technology)" />
                      <input type="button" value="DisLike" ng-click="incrementDisLikes(technology)" />
                  </td>

              </tr>
          </tbody>
      </table>
  </div>




      <div>                                                                                   <!--Used ng-init and ng-repeat-->
    <ul>
        <li ng-repeat="country in countries" ng-init="parentIndex=$index">
            {{country.name}}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}}  ParentIndex={{parentIndex}} Index={{ $index }}
                </li>
            </ul>
        </li>
    </ul>
        </div>
    <div>                                                           <!--used filters-->
        firstname: {{employee.firstName|uppercase}}
    </div>
    <div>
        lastName: {{employee.lastName|lowercase}}
    </div>
    <div>
        age:  {{employee.Age}}
    </div> 
    <div>
        country : {{employee.nation}}
    </div>
    <div>
        salary :{{employee.salary|number:2}}
    </div>
    <div>
        currency:{{employee.salary_curr|currency:"$":1}}
    </div>
    <div>
        date:{{employee.date|date:"dd/MM/YYYY"}}
    </div>
    <div>
        <img ng-src="{{employee.path}}" />         <!--ng-src implementation-->
    </div>
    <div>
        <input type="text" ng-model="greet" />      <!--Two way data binding implemented-->
        {{greet}}
    </div>
    <div>
        10 + 20 ={{10+20}}
    </div>
    <div>
        {{ {name:'David',age:'30'}.name }}
    </div>
    <div>
         {{1==2}}
    </div>
    <div>
        {{ ['a','b','c'][2]   }}
    </div>
</body>
</html>
